<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome to html file</title>
    <style>
        h1,h2,h3{
            text-align: center;
        }
        h1{
            color:black;
        }
        h2{
            color:black;
        }
        h3{
            color:black;
        }
        #hr1{
            width:95;
        }
        #hr2{
            width:85;
        }
        #h3{
            width:75;
        }
    </style>
</head>
<body>
<h1> haii children....</h1>
<hr id="hr1" color="red"/>
<h2> welcome to hello file in html....</h2>
<hr id="hr2" color="red"/>
<h3> bye have a nice day.....</h3>
<hr id="hr3" color="red"/>
</body>
</html>